<app-navbar></app-navbar>
<p-dialog
  header="Detail Barang"
  [(visible)]="modalDisplay"
  [style]="{ width: '600px' }"
  [baseZIndex]="10000"
>
  <div *ngIf="modalStatus == 'stock'">
    <p>
      Id Barang : {{ stockItemDetail.id }}
      <br />
      <br />
      Nama Barang : {{ stockItemDetail.name }}
      <br />
      <br />
      Deskripsi Barang: <br />
      {{ stockItemDetail.itemDesc }}
      <br />
      <br />
      Jumlah Stock Barang : {{ stockItemDetail.stockLimit }}
      <br />
      <br />
      Batas Minimum Stock Barang : {{ stockItemDetail.stockIn }}
    </p>
  </div>
  <div *ngIf="modalStatus == 'request'">
    {{ requestItemDetail | json }}
  </div>
</p-dialog>
<div class="buyerPageContainer">
  <p-tabView>
    <p-tabPanel header="Stock Barang" leftIcon="fa-solid fa-boxes-stacked">
      <p-table [value]="stockListResult.data.content" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>id</th>
            <th>Barang</th>
            <th>Jumlah</th>
            <th>Batas Minimum</th>
            <th>Di Update</th>
            <th>Detail</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stock>
          <tr>
            <td>{{ stock.id }}</td>
            <td>{{ stock.name }}</td>
            <td>{{ stock.stockIn }}</td>
            <td>{{ stock.stockLimit }}</td>
            <td>{{ stock.updatedAt }}</td>
            <td>
              <p-button
                icon="fa-solid fa-circle-info"
                iconPos="left"
                (click)="showStockItemDetail(stock, 'stock')"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator
        *ngIf="!stockListLoading"
        [rows]="10"
        [totalRecords]="stockListResult.data.totalPages * 10"
        (pageLinkSize)="(3)"
        (onPageChange)="paginate($event)"
      ></p-paginator>
    </p-tabPanel>

    <p-tabPanel header="Permintaan Barang" leftIcon="fa-solid fa-list">
      <p-table [value]="requestListResult.data" responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr>
            <th>id</th>
            <th>id Barang</th>
            <th>Jumlah</th>
            <th>Oleh</th>
            <th>Tanggal Pengajuan</th>
            <th>Status</th>
            <th>Detail</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-requestOrder>
          <tr>
            <td>{{ requestOrder.id }}</td>
            <td>{{ requestOrder.requestOrderDetails[0].itemId }}</td>
            <td>{{ requestOrder.requestOrderDetails[0].qty }}</td>
            <td>{{ requestOrder.createdName }}</td>
            <td>{{ requestOrder.status }}</td>
            <td>{{ requestOrder.createdAt }}</td>
            <td>
              <p-button
                icon="fa-solid fa-circle-info"
                iconPos="left"
                (click)="showStockItemDetail(requestOrder, 'request')"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>

    <p-tabPanel header="Riwayat Pembelian" leftIcon="fa-solid fa-list">
      <h3>Riwayat Pembelian Barang</h3>
      <p-table
        [value]="purchaseListResult.data.content"
        responsiveLayout="scroll"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>id</th>
            <th>Nama Barang</th>
            <th>Harga Barang</th>
            <th>Tanggal Pembelian</th>
            <th>Detail</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-purchaseOrder>
          <tr>
            <td>{{ purchaseOrder.itemId }}</td>
            <td>{{ purchaseOrder.itemName }}</td>
            <td>{{ purchaseOrder.Price }}</td>
            <td>{{ purchaseOrder.purchaseDate }}</td>
            <td>
              <p-button
                icon="fa-solid fa-circle-info"
                iconPos="left"
                (click)="showStockItemDetail(purchaseOrder, 'request')"
              ></p-button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>

    <p-tabPanel header="Pembelian Barang" leftIcon="fa-solid fa-store">
      <!-- <div class="purchaseFormContainer">
        <form [formGroup]="purchaseForm">
          <div class="p-grid p-fluid">
            <h3>Pembuatan Pembelian Barang</h3>
            <div>
              <h5>Pilih Item</h5>

              <div class="selectContainer">
                <select id="registerDropDown" formControlName="roleId">
                  <option class="dropOption" [ngValue]="2">Pemesan</option>
                  <option class="dropOption" [ngValue]="3">Pembeli</option>
                </select>
              </div>
            </div>
            <div>
              <h5>Deskripsi Pembelian</h5>
              <input type="text" pInputText formControlName="username" />
            </div>

            <div>
              <h5>Jumlah Barang</h5>
              <input type="number" pInputText />
            </div>

            <div>
              <h5>Harga Barang</h5>
              <input type="number" pInputText />
            </div>

            <div class="submitButton">
              <p-button label="Submit"></p-button>
            </div>
          </div>
        </form>
      </div> -->
    </p-tabPanel>
  </p-tabView>
</div>
