.navContainer {
  padding: 0.5rem;
  background: #f8f9fa;
  color: #495057;
  border: 1px solid #dee2e6;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #19345e;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.title {
  margin: 0.5rem;
}
.rightNav {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}
.rightNav i {
  font-size: 1.5rem;
  font-weight: bold;
}
