<p-toast></p-toast>
<div class="loginContainer">
  <div class="cardContainer">
    <p-card>
      <form [formGroup]="loginForm">
        <div class="p-grid p-fluid">
          <div class="welcome">
            <h1 class="title">
              <i class="fa-solid fa-clipboard-list"></i>PeBe
            </h1>
            <h3>
              Selamat datang di PeBe Management Sistem, silahkan login terlebih
              dahulu
            </h3>
          </div>
          <div>
            <h5>Username atau Email</h5>
            <input
              type="text"
              pInputText
              formControlName="usernameOrEmail"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  isSubmitted && loginForm.controls['usernameOrEmail'].errors
              }"
            />
          </div>
          <small
            *ngIf="isSubmitted && loginForm.controls['usernameOrEmail'].errors"
            id="usernameOrEmail"
            class="p-error block mt-2"
          >
            Isi Username atau Email!
          </small>
          <h5>Password</h5>
          <div class="loginPassword">
            <p-password
              [toggleMask]="true"
              formControlName="password"
              [feedback]="false"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  isSubmitted && loginForm.controls['password'].errors
              }"
            ></p-password>
            <small
              *ngIf="isSubmitted && loginForm.controls['password'].errors"
              id="password"
              class="p-error block mt-2"
            >
              Input Password
            </small>
          </div>
          <p-button label="Submit" (click)="submitLogin()"></p-button>
        </div>
      </form>
    </p-card>
  </div>
</div>
