<div class="loginContainer">
  <p-card>
    <form [formGroup]="loginForm">
      <div class="p-grid p-fluid">
        <div>
          <h5>Username atau Email</h5>
          <input type="text" pInputText formControlName="username" />
        </div>
        <h5>Password</h5>
        <div class="loginPassword">
          <p-password
            [toggleMask]="true"
            formControlName="password"
            [feedback]="false"
          ></p-password>
        </div>
        <p-button label="Submit" (click)="submitLogin()"></p-button>
      </div>
    </form>
  </p-card>
</div>
